.body-container{
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
    .sidebar-container{
        border: 5px solid red;
        grid-row-start: span 3;
    }
    .router-container{
        border: 5px solid green;
        grid-column: 2/-1;
        grid-row-start: span 3;
    }
}