.body-container {
  // display: flex;
  // flex-direction: row;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .sidebar-container {
    grid-row-start: span 3;
  }
  .router-container {
    grid-column: 2/-1;
    grid-row-start: span 3;
  }
}
