<div class="login-container">
  <div class="login-image-container">
    <img src="HRMS1.jpg" />
  </div>
  <div class="login-form">
    <mat-card>
      <form fxFlex="stretch">
        <mat-form-field>
          <input matInput placeholder="Username" />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" />
        </mat-form-field>
        <button mat-button type="submit">LogIn</button>
      </form>
    </mat-card>
  </div>
</div>
