<div class="login-container">
  <div class="login-form">

    <mat-card>
      <div class="logo-container">
        <img src="logo.png" alt="Logo">
      </div>

        <form fxFlex="stretch" [formGroup]="logiinForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="email"/>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" />
        </mat-form-field>



        <div class="forgot-password">
          <a href="#" routerLink="../forget-password">Forgot Password?</a>
        </div>

        <button mat-button type="submit" class="button">Log In</button>
      </form>

    </mat-card>
  </div>
</div>
