<section *ngIf="dashboard$ | async as dashboard">
  <div *ngFor="let data of dashboard" class="w-full grid grid-cols-3 gap-4">
    <!-- Staffs on LEAVE TODAY -->
    <section class="min-h-96 bg-white rounded-lg">
      <div class="flex justify-between pt-3 px-4">
        <p>Pending Leave Requests ({{ data.leaveRequests.total }})</p>
        <a href="">View All</a>
      </div>
      <div class="bg-[#eef2f5] p-3 m-4 rounded-lg">
        <section
          *ngFor="let staff of data.leaveRequests.staffs"
          class="p-2 pl-4 mb-2 last:mb-0 flex justify-between items-center bg-white rounded-lg"
        >
          <div class="flex items-center gap-5">
            <img class="w-12 rounded-full" src="avatar.png" alt="" />
            <div class="flex flex-col">
              <p class="font-medium">{{ staff.name }}</p>
              <p class="font-light">{{ staff.department }}</p>
            </div>
          </div>
        </section>
      </div>
    </section>
    <!-- Staffs on LEAVE Today -->
    <section class="min-h-96 bg-white rounded-lg">
      <p class="pt-4 pl-4">
        Staffs on Leave Today ({{ data.staffsOnLeaveToday.total }})
      </p>
      <div class="bg-[#eef2f5] p-3 m-4 rounded-lg">
        <section
          *ngFor="let staff of data.staffsOnLeaveToday.staffs"
          class="p-2 pl-4 mb-2 last:mb-0 flex justify-between items-center bg-white rounded-lg"
        >
          <div class="flex items-center gap-4">
            <img class="w-12 rounded-full" src="avatar.png" alt="" />
            <div class="flex flex-col">
              <p class="font-medium">{{ staff.name }}</p>
              <p class="font-light">{{ staff.department }}</p>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="min-h-96 bg-white rounded-lg">
      <p class="pt-3 pl-4">
        Staffs on Leave Tomorrow ({{ data.staffsOnLeaveTomorrow.total }})
      </p>
      <div class="bg-[#eef2f5] p-3 m-4 rounded-lg">
        <section
          *ngFor="let staff of data.staffsOnLeaveTomorrow.staffs"
          class="p-2 pl-4 mb-2 last:mb-0 flex justify-between items-center bg-white rounded-lg"
        >
          <div class="flex items-center gap-4">
            <img class="w-12 rounded-full" src="avatar.png" alt="" />
            <div class="flex flex-col">
              <p class="font-medium">{{ staff.name }}</p>
              <p class="font-light">{{ staff.department }}</p>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</section>
