<section class="w-full grid grid-cols-3 gap-4">
  <!-- Staffs on LEAVE TODAY -->
  <section class="min-h-96 bg-white rounded-lg">
    <div class="flex justify-between pt-3 px-4">
      <p>Leave Requests (5)</p>
      <a href="">View All</a>
    </div>
    <div class="bg-[#eef2f5] p-3 m-4 rounded-lg">
      <section
        class="p-2 pl-4 flex justify-between items-center bg-white rounded-lg"
      >
        <div class="flex items-center gap-5">
          <img class="w-12 rounded-full" src="avatar.png" alt="" />
          <div class="flex flex-col">
            <p class="font-medium">Person 1</p>
            <p class="font-light">Departmanet 1</p>
          </div>
        </div>
      </section>
    </div>
  </section>
  <!-- Staffs on LEAVE Today -->
  <section class="min-h-96 bg-white rounded-lg">
    <p class="pt-4 pl-4">Staffs on Leave Today (2)</p>
    <div class="bg-[#eef2f5] p-3 m-4 rounded-lg">
      <section
        class="p-2 pl-4 flex justify-between items-center bg-white rounded-lg"
      >
        <div class="flex items-center gap-4">
          <img class="w-12 rounded-full" src="avatar.png" alt="" />
          <div class="flex flex-col">
            <p class="font-medium">Person 1</p>
            <p class="font-light">Departmanet 1</p>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section class="min-h-96 bg-white rounded-lg">
    <p class="pt-3 pl-4">Staffs on Leave Tomorrow (3)</p>
    <div class="bg-[#eef2f5] p-3 m-4 rounded-lg">
      <section
        class="p-2 pl-4 flex justify-between items-center bg-white rounded-lg"
      >
        <div class="flex items-center gap-4">
          <img class="w-12 rounded-full" src="avatar.png" alt="" />
          <div class="flex flex-col">
            <p class="font-medium">Person 1</p>
            <p class="font-light">Departmanet 1</p>
          </div>
        </div>
      </section>
    </div>
  </section>
</section>
