<div class="nav-container gradient-background">
  <div class="logo">
    <a [routerLink]="['/admin/dashboard']">
      <img src="logo.png" alt="TechnoFex" />
    </a>
  </div>
  <div class="profile">
    <!-- <a [routerLink]="['/admin/profile-details']"> -->
    <mat-icon
      mat-button
      [matMenuTriggerFor]="menu"
      class="profile-icon cursor-pointer"
      >account_circle
    </mat-icon>
    <!-- </a> -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/admin/profile-details']">
        Profile
      </button>
      <button mat-menu-item>Log Out</button>
    </mat-menu>
  </div>
</div>
