<mat-drawer-container class="sidebar-container">
  <mat-drawer mode="side" opened class="sidebar">
    <nav>
      <ul>
        <li>
          <a
            [routerLink]="route_constant.dashboard"
            [routerLinkActive]="['is-active']"
          >
            <span class="sidebar-row">
              <mat-icon>dashboard</mat-icon>
              Dashboard
            </span>

            <!-- <mat-accordion>
              <mat-expansion-panel hideToggle>
                <p>This is the primary content of the panel.</p>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                  <mat-panel-title> <span class="sidebar-row">
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                  </span> </mat-panel-title>
                  
                </mat-expansion-panel-header>
                <div>
                  <ul>
                    <li><a [routerLink]="route_constant['leave-management']">Leave Management</a></li>
                    <li><a [routerLink]="route_constant['leave-apply']">Apply Leave</a></li>
                  </ul>
                </div>
              </mat-expansion-panel>
            </mat-accordion> -->
          </a>
        </li>

        <li>
          <a [routerLink]="route_constant['staff-management']">
            <span class="sidebar-row">
              <mat-icon>folder_shared</mat-icon>
              Staff Management
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="route_constant['leave-management']">
            <span class="sidebar-row">
              <mat-icon>settings_applications</mat-icon>
              Leave Management
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="route_constant['leave-apply']">
            <span class="sidebar-row">
              <mat-icon>info</mat-icon>
              Application Status
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="route_constant['attendance-details']">
            <span class="sidebar-row">
              <mat-icon>list_alt</mat-icon>
              Attendance Details
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="route_constant['policies']">
            <span class="sidebar-row">
              <mat-icon>policy</mat-icon>
              Policies
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </mat-drawer>
</mat-drawer-container>
