<mat-card>
    <div class="main-container">
        <div class="leave-info-card">
            <div class="leave-info-header">
                <div class="first-row">
                    <div class="reason">
                        <p class="bold">#Reason For Leave</p>
                    </div>
                    <div class="options">
                        <mat-icon>more_vert</mat-icon>
                    </div>
                </div>
                <div class="second-row">
                    <div class="fromDate clr-666">Nov 21, 2024 -</div>
                    <div class="toDate clr-666"> Nov 28, 2024</div>
                </div>
            </div>
            <div class="leave-info-body">
                <div class="leave-personal-details">
                    <img src="" alt="pic">
                    <div class="profile">
                        <div class="profile-name clr-333">
                            Sameer Shrestha
                        </div>
                        <div class="employee-id">
                            Employee ID: ANG007
                        </div>
                    </div>
                    <div class="days-left">
                        <div class="days-text clr-333">
                            Days Left
                        </div>
                        <div class="days-number clr-999">
                            12/21
                        </div>
                    </div>
                </div>
            </div>
            <div class="leave-info-button">
                <button mat-raised-button>Approve</button>
                <button mat-raised-button>Reject</button>
            </div>
        </div>
    </div>
</mat-card>