.main-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 100%;
    background-color: #eef2f5;
.first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
}