<div class="table-container">
  <div class="Attandance-list-header">
    <div class="form-title">
      <h4>Attendance Details</h4>
    </div>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Search <mat-icon>search</mat-icon></mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input />
  </mat-form-field>
  <!-- <div class="table-data-container">
    <table mat-table class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>
    </table>
  </div> -->
</div>
