<div class="main-container">

    <div class="first-row">
        <h6>Leave Application</h6>
        <div class="button-container">
            <button mat-button color="primary" (click)="routeToLeaveApply()">
                <mat-icon>add</mat-icon>
                Leave Request
            </button>
        </div>
    </div>

    <div class="second-row">
        <div class="leave-details">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <div class="detail-header">
                        <div class="header-number blue-background">
                            <!-- <mat-card-title>{{ (availableLeaveData$|async)?.totalLeaveTaken }} <br> -->
                            <mat-card-title>10<br>
                                <span class="size-600 padl5">DAYS</span>
                            </mat-card-title>
                        </div>
                        <div class="header-title">
                            <mat-card-title>Total Leaves Taken</mat-card-title>
                        </div>
                    </div>
                </mat-card-header>
            </mat-card>
        </div>

        <div class="leave-details">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title-group>
                        <div class="detail-header">
                            <div class="header-number green-background">
                                <!-- <mat-card-title>{{ (availableLeaveData$|async)?.totalLeaveAvailable }} <br> -->
                                <mat-card-title>10 <br>
                                    <span class="size-600 padl5">DAYS</span>
                                </mat-card-title>
                            </div>
                            <div class="header-title">
                                <mat-card-title>Available Leaves</mat-card-title>
                            </div>
                        </div>
                    </mat-card-title-group>
                </mat-card-header>
            </mat-card>
        </div>

        <div class="dropdown">
            <mat-form-field>
                <mat-label>Leave Type</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Sick Leave</mat-option>
                  <mat-option value="2">Annual Leave</mat-option>
                  <mat-option value="3">Other Leave</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <div class="third-row">
        <app-leave-table></app-leave-table>
    </div>

</div>
