<div class="forgot-password-container">
  <div class="forgot-password-form">
    <mat-card>
      <h2>Forgot Your Password?</h2>
      <p>Please enter your email address. You will receive a link to create a new password via email.</p>

      <form fxFlex="stretch">
        <mat-form-field>
          <input matInput placeholder="Email Address" type="email" required />
        </mat-form-field>

        <button mat-button type="submit" class="reset-button">Send Reset Link</button>

        <div class="back-to-login">
          <a href="/login">Back to Login</a>
        </div>
      </form>
    </mat-card>
  </div>
</div>
