<div class="forgot-password-container">
  <div class="forgot-password-form">
    <mat-card>
      <h2>Forgot Your Password?</h2>
      <p>Please enter your email address. You will receive a link to create a new password via email.</p>

      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Email Address" formControlName="email" type="email" required />
        </mat-form-field>
          <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('required') && forgetPasswordForm.get('email')?.touched" class="text">
            Email is required
          </mat-error>
          <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('email')" class="text">
            Enter a valid email address
          </mat-error>

        <button mat-button type="submit" class="reset-button">Send Reset Link</button>

        <div class="back-to-login">
          <a routerLink="/login">Back to Login</a>
        </div>
      </form>
    </mat-card>
  </div>
</div>
