.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 30px;
  background-color: #F2F4F7;


  .forgot-password-form {
    width: 100%;
    max-width: 400px;

    mat-card {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      text-align: center;

      h2 {
        margin-bottom: 10px;
        font-size: 24px;
        color: #1976d2;
        font-weight: bold;
      }

      p {
        margin-bottom: 20px;
        font-size: 14px;
        color: #666;
      }

      .text {
        display: block;
        font-size: 10px;
        color: #d9534f;
        margin-top: -40px;
        margin-bottom: 30px;
        padding: 0;
        margin-right:auto;


      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .reset-button {
          background-color: #1976d2;
          color: #ffffff;
          font-weight: bold;
          text-transform: uppercase;
          margin-top: auto;

          &:hover {
            background-color: #115293;
          }

          &:active {
            background-color: #0d3a6a;
          }
        }

        .back-to-login {
          margin-top: auto;


          a {
            text-decoration: none;
            font-size: 14px;
            color: #1976d2;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .forgot-password-container {
    padding: 10px;

    .forgot-password-form {
      width: 100%;
      max-width: none;
    }
  }
}
