.pattern {
  background: url(../../../../../public/profile-pattern.svg)
    hsla(225, 100%, 94%, 1);
  background-repeat: repeat-x;
  background-position: 60% 100%;
  width: auto;
}

.details {
  p {
    margin-top: 1rem;
  }
}

img {
  border: 5px solid white;
}
