<div *ngIf="loading$ | async">Loading...</div>
<div class="profile-grid">
  <mat-card class="profile-img">
    <img mat-card-image src="avatar.png" alt="Photo of a Shiba Inu" />
    <mat-card-content class="font-bold">Full Name</mat-card-content>
    <mat-card-content class="font-medium"> Department </mat-card-content>
  </mat-card>
  <div *ngIf="profileDetails$ | async as profileDetails">
    <mat-card class="profile-detial">
      <p>First Name: {{ profileDetails.firstName }}</p>
      <p>Middle Name: {{ profileDetails.midName }}</p>
      <p>Last Name: {{ profileDetails.lastName }}</p>
      <p>Gender: {{ profileDetails.gender }}</p>
      <p>Email: {{ profileDetails.email }}</p>
      <p>Address: {{ profileDetails.address }}</p>
      <p>Date of Birth: {{ profileDetails.dob }}</p>
      <p>Citizenship No.: {{ profileDetails.citizenshipNumber }}</p>
      <p>Starting Date: {{ profileDetails.startDate }}</p>
      <p>Department: {{ profileDetails.department }}</p>
      <p>Role: {{ profileDetails.role }}</p>
    </mat-card>
  </div>
  <div class="action-btn">
    <!-- <button
      mat-flat-button
      color="primary"
      [routerLink]="['/admin/staff-registration/edit-staff', profileId]"
    >
      Edit Profile
    </button> -->
  </div>
</div>
