<div *ngIf="loading$ | async">Loading...</div>
<div class="profile-grid">
  <mat-card class="profile-img">
    <img mat-card-image src="avatar.png" alt="Photo of a Shiba Inu" />
    <mat-card-content class="font-bold">Full Name</mat-card-content>
    <mat-card-content class="font-medium"> Department </mat-card-content>
  </mat-card>
  <div *ngIf="profileDetails$ | async as profileDetails">
    <mat-card class="profile-detial" *ngFor="let profile of profileDetails">
      <p>First Name: {{ profile.firstName }}</p>
      <p>Middle Name: {{ profile.midName }}</p>
      <p>Last Name: {{ profile.lastName }}</p>
      <p>Gender: {{ profile.gender }}</p>
      <p>Email: {{ profile.email }}</p>
      <p>Address: {{ profile.address }}</p>
      <p>Date of Birth: {{ profile.dob }}</p>
      <p>Citizenship No.: {{ profile.citizenshipNumber }}</p>
      <p>Starting Date: {{ profile.startDate }}</p>
      <p>Department: {{ profile.department }}</p>
      <p>Role: {{ profile.role }}</p>
    </mat-card>
  </div>
  <div class="action-btn">
    <button
      mat-flat-button
      color="primary"
      [routerLink]="['/admin/staff-registration/edit-staff', profileId]"
    >
      Edit Profile
    </button>
  </div>
</div>
