<div *ngIf="loading$ | async">Loading...</div>
<div class="grid grid-col-1 p-5 mt-2 gap-6">
  <div class="p-10 flex justify-between pattern">
    <div class="flex items-center gap-14">
      <img
        class="w-40 h-40 rounded-full border border-3 border-white"
        mat-card-image
        src="avatar.png"
        alt=""
      />
      <div
        *ngIf="profileDetails$ | async as profileDetails"
        class="flex flex-col"
      >
        <!-- @for (employee of profileDetails; track employee.id) { -->
        <p class="text-2xl">
          {{ profileDetails[0].firstName }}
        </p>
        <p>{{ profileDetails[0].departmentId }}</p>
        <p>Joined Date</p>
        <!-- } -->
      </div>
    </div>
    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu class="bg-blue-100 custom-menu" #menu="matMenu">
        <button mat-menu-item (click)="onEditProfileDetails(825)">
          <mat-icon>account_circle</mat-icon>
          <span>Edit Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>camera_alt</mat-icon>
          <span>Change Picture</span>
        </button>
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <!-- (click)="onChangePassword"> -->
          <span>Change Password</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div *ngIf="profileDetails$ | async as profileDetails">
    @for (employee of profileDetails; track employee.id) {
    <div class="details p-10">
      <p>First Name: {{ employee.firstName }}</p>
      <mat-divider></mat-divider>
      @if(employee.middleName){
      <p>Middle Name: {{ employee.middleName }}</p>
      <mat-divider></mat-divider>
      }
      <p>Last Name: {{ employee.lastName }}</p>
      <mat-divider></mat-divider>
      <p>Gender: {{ employee.gender }}</p>
      <mat-divider></mat-divider>
      <p>Email: {{ employee.email }}</p>
      <mat-divider></mat-divider>
      <p>Address: {{ employee.addressId }}</p>
      <mat-divider></mat-divider>
      <p>Date of Birth: {{ employee.dob }}</p>
      <mat-divider></mat-divider>
      <p>Citizenship No.: {{ employee.citizenshipNo }}</p>
      <mat-divider></mat-divider>
      <p>Starting Date: {{ employee.startDate }}</p>
      <mat-divider></mat-divider>
      <p>Department: {{ employee.departmentId }}</p>
      <mat-divider></mat-divider>
      <p>Role: {{ employee.role }}</p>
    </div>
    }
  </div>
</div>
