<div class="main-container">
  <app-checking-in></app-checking-in>
  <app-todays-attendance></app-todays-attendance>
  <div
    class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 {{
      userRole === 'Admin' ? 'lg:grid-cols-3' : 'lg:grid-cols-2'
    }}"
  >
    @if(userRole==="Admin"){
    <app-leave-stats></app-leave-stats>
    }
    <app-on-leave-today></app-on-leave-today>
    <app-on-leave-tomorrow></app-on-leave-tomorrow>
  </div>
  <div class="p-5 mt-5">
    <app-calendar></app-calendar>
  </div>
</div>
