<section class="m-5 grid grid-cols-4 gap-4">
  <mat-card appearance="outlined" class="pb-4">
    <mat-card-header>
      <mat-card-title>Checked Ins</mat-card-title>
      <mat-card-subtitle>50</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card appearance="outlined" class="pb-4">
    <mat-card-header>
      <mat-card-title>Work From Home</mat-card-title>
      <mat-card-subtitle>100</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card appearance="outlined" class="pb-4">
    <mat-card-header>
      <mat-card-title>On Leave Today</mat-card-title>
      <mat-card-subtitle>2</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</section>
<section class="m-5 grid grid-cols-2 gap-4">
  <div>
    <mat-card appearance="outlined" class="pb-4">
      <mat-card-header>
        <mat-card-title>Staffs on Leave Today</mat-card-title>
        <mat-card-subtitle>100</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div>
    <mat-card appearance="outlined" class="pb-4">
      <mat-card-header>
        <mat-card-title>Staffs on Leave Tomorrow</mat-card-title>
        <mat-card-subtitle>100</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</section>
