<div class="change-password-container">
  <div class="change-password-form">
    <h2>Change Your Password</h2>
    <p>Please enter your current password and a new password to update your credentials</p>

    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Current Password</mat-label>
        <input matInput [type]="hideCurrent ? 'password' : 'text'" class="eye-button-container" placeholder="Current Password" formControlName="currentPassword" required />
        <button mat-icon-button matSuffix (click)="toggleHideCurrent()" type="button">
          <mat-icon>{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched">
          Current Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput [type]="hideNew ? 'password' : 'text'" class="eye-button-container" placeholder="New Password" formControlName="newPassword" required />
        <button mat-icon-button matSuffix (click)="toggleHideNew()" type="button">
          <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched">
          New Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hideConfirm ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirmPassword" required />
        <button mat-icon-button matSuffix (click)="toggleHideConfirm()" type="button">
          <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched">
          Confirm Password is required
        </mat-error>
      </mat-form-field>

      <button mat-button type="submit" class="update-button" [disabled]="changePasswordForm.invalid">
        Update Password
      </button>
    </form>
  </div>
</div>
