html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-image-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.login-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.login-form {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-form mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: rgba(241, 238, 238, 0.905);
}

.login-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form mat-form-field {
  margin-bottom: 15px;
}

.login-form button {
  margin-top: 10px;
  align-self: flex-end;
}


@media (max-width: 1024px) {
  .login-container {
    flex-direction: column;
  }

  .login-image-container,
  .login-form {
    flex: none;
    width: 100%;
  }

  .login-form {
    padding: 40px 20px;
  }
}

@media (max-width: 600px) {
  .login-form {
    padding: 20px;
  }

  .login-form mat-card {
    max-width: 100%;
    padding: 15px;
  }

  .login-form button {
    width: 100%;
    margin-top: 20px;
  }
}
