.body-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding-top: 75px;
    
    .sidebar-container{
        grid-row-start: span 3;
    }
    .router-container{
        grid-column: 2/-1;
        grid-row-start: span 3;
        height: calc(100vh - 75px);
        overflow: auto;
    }
}
