<!-- <button (click)="getData()">Get Data</button> -->
<div class="form-container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter First Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstName"
          placeholder="Firstname"
        />
        <mat-error
          *ngIf="
            (registrationForm.get('firstName')?.touched ||
              registrationForm.get('firstName')?.dirty) &&
            registrationForm.get('firstName')?.hasError('required')
          "
        >
          First Name is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter Mid Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="middleName"
          placeholder="MiddleName"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter Last Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastName"
          placeholder="Lastname"
        />
        <mat-error
          *ngIf="
            (registrationForm.get('lastName')?.touched ||
              registrationForm.get('lastName')?.dirty) &&
            registrationForm.get('lastName')?.hasError('required')
          "
        >
          Last Name is required.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter phone Number</mat-label>
        <input
          matInput
          type="number"
          formControlName="phoneNumber"
          placeholder="Enter phoneNumber"
        />
        <mat-error
          *ngIf="
            (registrationForm.get('phoneNumber')?.touched ||
              registrationForm.get('phoneNumber')?.dirty) &&
            registrationForm.get('phoneNumber')?.hasError('required')
          "
        >
          Enter valid phoneNumber
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-radio-group aria-label="Select Gender" formControlName="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
        <mat-radio-button value="others">Others</mat-radio-button>
      </mat-radio-group>
      <mat-error
        *ngIf="
          (registrationForm.get('gender')?.touched ||
            registrationForm.get('gender')?.dirty) &&
          registrationForm.get('gender')?.hasError('required')
        "
      >
        Gender is required.
      </mat-error>
    </div>

    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter DOB</mat-label>
        <input matInput formControlName="dob" [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="
            (registrationForm.get('dob')?.touched ||
              registrationForm.get('dob')?.dirty) &&
            registrationForm.get('dob')?.hasError('required')
          "
        >
          Date of Birth is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter Address</mat-label>
        <input matInput formControlName="address" placeholder="Address*" />
        <mat-error
          *ngIf="
            (registrationForm.get('address')?.touched ||
              registrationForm.get('address')?.dirty) &&
            registrationForm.get('address')?.hasError('required')
          "
        >
          Address is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter Nationality</mat-label>
        <input
          matInput
          formControlName="nationality"
          placeholder="Nationality"
        />
        <mat-error
          *ngIf="
            (registrationForm.get('nationality')?.touched ||
              registrationForm.get('nationality')?.dirty) &&
            registrationForm.get('nationality')?.hasError('required')
          "
        >
          Nationality is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter Citizenship Number</mat-label>
        <input
          matInput
          formControlName="citizenshipNumber"
          placeholder="Citizenship Number"
        />
        <mat-error
          *ngIf="
            (registrationForm.get('citizenshipNumber')?.touched ||
              registrationForm.get('citizenshipNumber')?.dirty) &&
            registrationForm.get('citizenshipNumber')?.hasError('required')
          "
        >
          Citizenship Number is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter start date</mat-label>
        <input matInput formControlName="startDate" [matDatepicker]="picker1" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error
          *ngIf="
            (registrationForm.get('startDate')?.touched ||
              registrationForm.get('startDate')?.dirty) &&
            registrationForm.get('startDate')?.hasError('required')
          "
        >
          Start Date is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select formControlName="department">
          <mat-option value="angular">Angular</mat-option>
          <mat-option value="dotnet">DotNet</mat-option>
          <mat-option value="flutter">Flutter</mat-option>
          <mat-option value="qa">QA</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            (registrationForm.get('department')?.touched ||
              registrationForm.get('department')?.dirty) &&
            registrationForm.get('department')?.hasError('required')
          "
        >
          Department is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="developer">Developer</mat-option>
          <mat-option value="tester">Tester</mat-option>
          <mat-option value="manager">Manager</mat-option>
          <mat-option value="designer">Designer</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            (registrationForm.get('role')?.touched ||
              registrationForm.get('role')?.dirty) &&
            registrationForm.get('role')?.hasError('required')
          "
        >
          Role is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="pat@example.com"
        />

        <mat-error
          *ngIf="
            (registrationForm.get('email')?.touched ||
              registrationForm.get('email')?.dirty) &&
            registrationForm.get('email')?.hasError('email')
          "
        >
          Please enter a valid email.
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="!isEditMode">
      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            (registrationForm.get('password')?.touched ||
              registrationForm.get('password')?.dirty) &&
            registrationForm.get('password')?.hasError('required')
          "
        >
          Password is required.
        </mat-error>
        <mat-error
          *ngIf="
            (registrationForm.get('password')?.touched ||
              registrationForm.get('password')?.dirty) &&
            registrationForm.get('password')?.hasError('minlength')
          "
        >
          Password must be at least 6 characters long.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="example-button-row">
      <button mat-flat-button>Submit</button>
    </div>
  </form>
</div>
