<div class="main-container">

    <mat-card>
        <div class="main-card-container">
            <div class="leave-info-card">
                <div class="leave-info-header">
                    <div class="first-row">
                        <div class="personal-details">
                            <div class="img">
                                {{(imageData$ | async)?.imageDataBase64}}
                                <img *ngIf="(imageData$ | async)?.imageDataBase64 as imageDataBase64"
                                    [src]="imageDataBase64 ? ('data:image/jpeg;base64,' + imageDataBase64):'./avatar.png'"
                                    alt="pic" />
                            </div>
                            <div class="employee-details">
                                <div class="clr-333 font-24">
                                    {{data.employeeName}}
                                </div>
                                <div class="fromDate clr-666">
                                    {{data.phoneNumber}}
                                </div>
                            </div>
                        </div>
                        <div class="leave-type clr-666">
                            {{data.leaveType}} Leave <br>
                            {{data.dayLeave}}
                        </div>
                        <div class="close-button">
                            <button (click)="resetDialog()">
                                <mat-icon title="">close</mat-icon>
                            </button>
                        </div>

                    </div>
                    <div class="second-row">
                        <div class="fromDate">{{data.leaveFrom}} &nbsp; -</div>
                        <div class="toDate">{{data.leaveTo}}</div>
                        <div class="options">
                            <button (click)="navigate()">
                                <mat-icon title="View Employee Leave Balance">more_vert</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="leave-info-body">
                    <div class="leave-personal-details">
                        <div class="profile">
                            <div class="profile-name clr-999">
                                {{data.reasonForLeave}}
                            </div>
                            <div class="employee-department clr-999">
                                Department:{{data.department}}
                            </div>
                        </div>
                        <div class="duration">
                            <div class="days-text clr-333">
                                {{data.totalLeaveDuration}} Days
                            </div>
                            <div class="days-number clr-999">
                                Leave Duration
                            </div>
                        </div>
                    </div>
                </div>
                <div class="leave-info-button">
                    <button mat-raised-button (click)="approve(data.id)">Approve</button>
                    <button mat-raised-button class matRipple matRippleColor="rgb(255, 196, 196);"
                        (click)="reject(data.id)">Reject</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<!-- <div class="main-container">

    @for(leave of requestList$ | async; track leave){
        <mat-card>
            <div class="main-card-container">
                <div class="leave-info-card">
                    <div class="leave-info-header">
                        <div class="first-row">
                            <div class="reason">
                                <p class="bold">{{leave.reason}}</p>
                            </div>
                        <div class="options">
                            <mat-icon>more_vert</mat-icon>
                        </div>
                    </div>
                    <div class="second-row">
                        <div class="fromDate clr-666">{{leave.leaveFrom}} -</div>
                        <div class="toDate clr-666"> {{leave.leaveTo}}</div>
                    </div>
                </div>
                <div class="leave-info-body">
                    <div class="leave-personal-details">
                        <img src="" alt="pic">
                        <div class="profile">
                            <div class="profile-name clr-333">
                                {{leave.name}}
                            </div>
                            <div class="employee-id">
                                Employee ID: {{leave.employeeId}}
                            </div>
                        </div>
                        <div class="days-left">
                            <div class="days-text clr-333">
                                Days Left
                            </div>
                            <div class="days-number clr-999">
                                {{leave.daysLeft}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="leave-info-button">
                    <button mat-raised-button>Approve</button>
                    <button mat-raised-button>Reject</button>
                </div>
            </div>
        </div>
    </mat-card>
}
</div> -->